.warning-alert,
.success-alert {
  position: absolute;
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  top: -72px;
}

.warning-alert {
  border: 1px solid #ef4444;
  background-color: #fca5a5;
}

.success-alert {
  border: 1px solid #10b981;
  background-color: #86efac;
}
