<ul class="pagination flex">
  <li class="">
    <button class="first" (click)="previousPage(currentPage - 1)" [disabled]="currentPage === 1" [ngClass]="{ disabled: currentPage === 1 }">Previous</button>
  </li>
  <li *ngFor="let page of pageList; let idx = index">
    <button [ngClass]="{active : idx + 1 === currentPage}" (click)="onChangePage(idx + 1)">{{ page }}</button>
  </li>
  <li class="">
    <button class="last" (click)="nextPage(currentPage + 1)" [disabled]="currentPage === currentPageSize" [ngClass]="{ disabled: currentPage === currentPageSize }">
      Next
    </button>
  </li>
</ul>
