<div class="flex h-screen w-screen items-center justify-center">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="loginSubmit()"
    class="relative flex w-[420px] flex-col gap-4 rounded-lg border border-slate-200 shadow-xl"
  >
    <div class="warning flex justify-between" *ngIf="showAlert">
      <span>User does not exist!</span><button (click)="showAlert = false" class="px-2">X</button>
    </div>
    <h1 class="rounded-t-lg bg-slate-300 px-6 py-4 text-3xl font-semibold">Login</h1>
    <div class="flex flex-col gap-2 px-6">
      <label for="username">Username</label>
      <input
        class="rounded-lg border border-slate-300 p-2 outline-none focus:outline-blue-500"
        type="text"
        placeholder="Username"
        id="username"
        formControlName="username"
      />
      <div
        class="text-base text-rose-500"
        *ngIf="(loginForm.get('username')?.errors?.['required'] && loginForm.controls['username'].touched) || (isSubmit && loginForm.controls['username'].errors)"
      >
        Username is required!
      </div>
    </div>
    <div class="flex flex-col gap-2 px-6">
      <label for="password">Password</label>
      <input
        class="rounded-lg border border-slate-300 p-2 outline-none focus:outline-blue-500"
        type="password"
        placeholder="Password"
        id="password"
        formControlName="password"
      />
      <div
        class="text-base text-rose-500"
        *ngIf="loginForm.get('password')?.errors?.['minlength'] && loginForm.controls['password'].dirty"
      >
        The password must be at least 6 characters!
      </div>
      <div
        class="text-base text-rose-500"
        *ngIf="(loginForm.get('password')?.errors?.['required'] && loginForm.controls['password'].touched) || (isSubmit && loginForm.controls['password'].errors)"
      >
        Password is required!
      </div>
    </div>
    <div class="flex items-center gap-4 px-6 py-4">
      <button type="submit" class="rounded-lg bg-blue-500 px-4 py-2 text-white hover:bg-blue-600">Login</button>
      <a routerLink="/account/register" class="text-blue-500 underline underline-offset-2">Register</a>
    </div>
  </form>
</div>
